body{
    padding: 0;
    margin: 0;
    min-height: 300vh;
}

.message-box{
    position: fixed;
    z-index: 999999999;
    top: 12px;
    right: 12px;
}

.message-content{
    position: relative;
    width: 300px;
    padding: 15px;
    background: red;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 12px #999;
    color: #999;
    opacity: 0.8;
}

.message-header{
    font-weight: 800;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.message-text{
    font-weight: 400;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.message-success{
    background-color: #51a351;
}

.message-info{
    background-color: #2f96b4;
}

.message-warning{
    background-color: #f89406;
}

.message-error{
    background-color: #bd362f;
}

.message-time-line{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: 0.4;
}