@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    background: #dee1e2;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: #3c3b3b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .navigation{
    display: flex;
    align-items: center;
}

.nav{
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.nav .logo{
    font-size: 22px;
    font-weight: 500;
}

.nav .navigation{
    column-gap: 20px;
    list-style: none;
}
.nav .search-outline{
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.nav .search-box{
    position: absolute;
    right: 400px;
    height: 45px;
    max-width: 700px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.nav.openSearch .search-box{
    opacity: 1;
    pointer-events: auto;
}

.search-box .search-outline{
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: rgb(0, 0, 0);
    transform: translateY(-50%);
}
.search-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}



.intro{
    margin-top: 70px;
    max-height: 100vh;
    overflow: hidden;
}

.intro::after{
    content: "";
    display: block;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.video{
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video_media{
    width: 100%;
    position: relative;
}