body{
    margin: 0;
}

.intro{
    max-height: 100vh;
    overflow: hidden;
}

.intro::after{
    content: "";
    display: block;
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.video{
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}
.video_media{
    width: 100%;
    height: auto;
    position: absolute;
}

.intro_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.intro_title{
    margin: 0;
    font-size: 45px;
    color: rgb(181, 133, 133);
    text-align: center;
}

.container{
    width: 100%;
    max-width:  1200px;
    margin: 0 auto;
}